
.block {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #071C21;
    .wrapper {
        width: 1024px;
        padding: 15px;
        .picture {
            flex:1 0 auto;
            padding: 20px;
            justify-content: center;
            img {
                justify-content: flex-end;
            }
        }
        .info {
            width: 40%;
            padding: 20px;
            flex-direction: column;

            img {
                width: 100%;
                padding-bottom: 20px;
            }
            h1 {
                font-size: 14px;
                color: orange;
                padding-bottom: 5px;
            }
            p {
                font-size: 14px;
                font-style: italic;
                color: white;
                padding-bottom: 10px;
            }
        }
    }
}
